    * {
        padding: 0;
        margin: 0;
        font-family: 'Josefin Sans', sans-serif, 'Helvertica';
    }
    
    .red {
        color: red;
    }
    
    #booking {
        font-family: 'Josefin Sans', sans-serif;
        background-image: url(Image/background.jpg);
        background-size: cover;
        background-position: center;
        height: 980px;
    }
    
    .consumer {
        width: 53%;
        height: 680px;
        border: 1px solid black;
        margin-left: 10px;
        margin-top: 20px;
        background-color: rgb(136, 169, 199);
    }
    
    .body {
        margin-top: 25px;
    }
    
    #booking {
        width: 100%;
    }
    
    #dateIn {
        width: 100px;
        height: 35px;
    }
    
    #dateOut {
        width: 100px;
        height: 35px;
    }
    
    .header {
        width: 50%;
        height: 680px;
        border: 1px solid black;
        margin-top: 20px;
        background-color: rgb(146, 176, 202);
    }
    
    .container {
        display: block;
        width: 100%;
        height: 760px;
        background-color: rgb(231, 227, 235);
    }
    
    h2 {
        color: rgb(34, 54, 165);
        text-align: center;
    }
    
    .headercom {
        display: flex;
        width: 100%;
        height: 720px;
    }
    
    #button {
        margin-left: 350px;
        width: 350px;
        height: 40px;
        color: black;
        font-size: 20px;
        background-color: rgb(238, 163, 65);
        border: none;
    }